/* ==========================================================================
   #EMBED/DEFAULT
   ========================================================================== */

.embed {
    display: block;
    margin-bottom: $spacing-default;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 12px 25px;
}

.embed__source {
    margin-bottom: $spacing-small;

    > embed,
    > iframe,
    > object,
    > video {
        height: var(--embedDefaultHeight);
        width: 100%;
    }
}

.embed__caption {
    font-style: italic;
}
