/* ==========================================================================
   #COLOURS
   ========================================================================== */

@use "sass:color";

$color-grey-light: #c4c2c3;

:root {
    --colorBlack: #272829;
    --colorGrey: #3f3c36;
    --colorGreyLight: #{$color-grey-light};
    --colorWhite: #ffffff;

    --colorAlertBackground: var(--colorGreyLight);
    --colorAlertErrorBackground: #e49393;
    --colorAlertErrorText: #310606;
    --colorAlertSuccessBackground: #93e493;
    --colorAlertSuccessText: #093109;

    --colorCarouselIndicator: #747474;
    --colorCarouselIndicatorActive: #ffffff;
    --colorCarouselIndicatorFocus: #c4c4c4;

    --colorError: #e20000;

    --colorPrimary: #4fadf4;
    --colorPrimaryActive: #{color.adjust(#4fadf4, $lightness: -10%)};
    --colorPrimaryAlt: #3d90d9;
    --colorPrimaryAltActive: #3d90d9;
    --colorSecondary: #ffa924;
    --colorSecondaryActive: #{color.adjust(#ffa924, $lightness: -10%)};

    --colorSiteBackground: var(--colorBlack);
    --colorTextDefault: var(--colorWhite);
    --colorTextInverted: var(--colorBlack);
    --colorTextLight: var(--colorGrey);
}
