/* ==========================================================================
   #BUTTON/VARIABLES
   ========================================================================== */

:root {
    --buttonBorderRadius: var(--borderRadius);
    --buttonBorderThickness: var(--borderWidth);
    --buttonDisabledOpacity: 0.3;
    --buttonFontSize: var(--fontSizeBase);
    --buttonFontWeight: bold;
    --buttonLineHeight: var(--lineHeightDefault);
    --buttonPaddingHorizontal: #{$spacing-large};
    --buttonPaddingVertical: #{$spacing-small};
    --buttonTextTransform: none;
}
